{% extends "base.html.twig" %}

{% block body %}

<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores ipsum beatae quis sunt quia molestiae amet. Illum, sunt eveniet? Sapiente aliquam, pariatur magni vero consequuntur, quia velit rerum perspiciatis eum quisquam ea excepturi dolorum, reiciendis quis voluptatem fugit reprehenderit?</p>
<p>Voluptate nobis voluptates consequatur. Fuga aliquid eaque fugit assumenda voluptate ad vel aut repellat. Nihil, fugit? Exercitationem eius commodi ratione nam alias ex similique! Illo unde minus explicabo delectus molestias rerum, exercitationem odio, perspiciatis voluptatum aperiam est maxime, rem ipsa.</p>

{% endblock %}